/*****GLOBAL STYLES*****/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "FuturaPT";
  src: url(fonts/FuturaPTBook.otf);
}

html {
  font-size: 62.5%;
  --special-color: #f88822;
  --border-color: #82949d;
  --gray-text: #4a4a4a;
}

h1 {
  font-size: var(--header1);
}

img {
  max-width: 100%;
  object-fit: contain;
}

li,
button,
label,
input,
a,
h3,
p {
  font-size: 1.4rem;
  line-height: 25px;
  letter-spacing: 0.3px;
  color: #4a4a4a;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

a:hover {
  opacity: 0.8;
}

body {
  font-family: "FuturaPT", sans-serif;
}

/******HEADER**********/
header {
  background: #fff;
  position: sticky;
  top: 0;
  z-index: 99;
  box-shadow: 0px 2px 6px 1px rgba(0, 0, 0, 0.12);
}

.head {
  width: 90%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 0;
}

.logo-srch {
  display: flex;
  align-items: center;
}

.logo {
  margin-right: 35px;
}

.logo_title {
  margin-top: 0;
  font-size: 1.4rem;
  line-height: 16px;
  letter-spacing: 0.3px;
  color: #6a6a6a;
}

.search-box {
  width: 480px;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fafafa;
  border: 1px solid #eeeeee;
  box-sizing: border-box;
  box-shadow: inset 0px 1px 5px rgba(209, 209, 209, 0.5);
  border-radius: 25px;
  padding: 5px 0;
}

.search-btn {
  color: #f88822;
  padding-left: 10px;
}

.search-txt {
  outline: none;
  border: none;
  font-family: FuturaPT;
  font-size: 1.6rem;
  line-height: 19px;
  letter-spacing: 0.5px;
  background: #fafafa;
  color: #8a8a8a;
  width: 90%;
  padding: 0 10px;
}

.users-actn {
  display: flex;
  align-items: center;
}

.users {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.user {
  width: 20px;
  height: 20px;
  background: #25c16f;
  border-radius: 50%;
  margin: 0 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.user2 {
  background: #cc4783;
}

.user3 {
  background: #8847cc;
}

.user4 {
  background: #fff;
}

.user-down {
  display: inline-block;
  background: #fff;
  color: #f88822;
}

.user h3 {
  font-size: 1.4rem;
  color: #ffffff;
}

.user-bar {
  width: 1px;
  height: 20px;
  background: #e3eaf2;
}

.actions {
  display: flex;
  align-items: center;
}

.actions a {
  display: flex;
  align-items: center;
}

.btn {
  font-size: 1.2rem;
  background: #f88822;
  color: #fff;
  border: none;
  padding: 0.8em 3em;
  border-radius: 1.5em;
  outline: none;
  line-height: 14px;
  letter-spacing: 0.3px;
  cursor: pointer;
}

.btn:hover {
  opacity: 0.9;
}

.icons {
  margin-left: 15px;
  width: 20px;
}

.menu {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #f88822;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*****NAV TOGGLE & GRAY BAR*****/
.gray-bar {
  background: #eaecf0;
  width: 100%;
}

.toggle-container {
  width: 225px;
  height: 45px;
  padding-top: 15px;
  background: #fff;
}
.nav-toggle {
  margin-right: 15px;
  background: #e3eaf2;
  float: right;
  padding: 7px 15px;
  padding-right: 30px;
  border-radius: 15px;
  position: relative;
}

.nav-toggle p {
  font-size: 1rem;
  line-height: 12px;
  letter-spacing: 0.208333px;
  color: #8a8a8a;
}
.nav-toggle button {
  position: absolute;
  top: 0;
  right: 1px;
  width: 25px;
  height: 25px;
  border: none;
  outline: none;
  border-radius: 15px;
  background: white;
  cursor: pointer;
}

.nav-toggle button i {
  color: #f88822;
}

main {
  display: flex;
}

/*************Nav*****************/
nav {
  min-width: 225px;
  background: #eaecf0;
}

.navi {
  background: #fff;
  padding-top: 10px;
}

.book-home {
  background: #fee6d6;
  padding: 5px 35px;
  margin-bottom: 5px;
}

.book-home h3 {
  font-weight: 300;
  color: #4b4b4b;
}

/*********************Main SECTION***************/
.main-section {
  flex-grow: 1;
  border-left: 1px solid #f2f2f2;
  border-right: 1px solid #f2f2f2;
}

.hero {
  padding: 50px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.scroll-btn {
  width: 4rem;
  height: 4rem;
  border: none;
  outline: none;
  border-radius: 50%;
  background: white;
  cursor: pointer;

  border: 1px solid #e3eaf2;
  box-shadow: 0px 2px 4px rgba(201, 201, 201, 0.5);
}

.hero button i {
  color: #f88822;
}

.banner {
  display: flex;
  width: 85%;
  height: 300px;
  border: 1px solid #e3eaf2;
  box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.15);
}

.banner-img {
  width: 45%;
  background: url("images/image3.png");
  background-size: cover;
  background-position: center;
}

.banner-text {
  width: 55%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 30px 20px;
}

.banner-text h2 {
  font-size: 3rem;
  line-height: 34px;
  text-align: center;
  letter-spacing: 0.833333px;
  text-transform: uppercase;
  color: #f88822;
  margin-bottom: 15px;
}

.banner-text h3 {
  font-size: 2.4rem;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.666667px;
  color: #4b4b4b;
  margin-bottom: 15px;
}

.banner-text p {
  font-size: 1.8rem;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.5px;
  color: #4b4b4b;
  margin-bottom: 15px;
}
.know-btn {
  font-size: 1.6rem;
  line-height: 19px;
  text-align: center;
  letter-spacing: 1.14286px;
  text-transform: uppercase;
}

.recommendations {
  width: 94%;
  margin: auto;
  margin-bottom: 40px;
  border-bottom: 1px solid #e3eaf2;
}

.releases {
  margin-bottom: 0;
  border-bottom: none;
}

.recom-bar {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}
.recom-you {
  display: flex;
  align-items: center;
  position: relative;
}

.recom-you h3 {
  font-size: 2rem;
  line-height: 30px;
  letter-spacing: 0.3px;
  color: #000000;
}

.recom-you a {
  position: absolute;
  right: -20px;
  top: 50%;
  transform: translateY(-50%);
}

.recom-you i {
  color: #f88822;
}

.view-all {
  font-size: 1.4rem;
  line-height: 16px;
  letter-spacing: 0.35px;
  color: #f88822;
  text-decoration: underline;
  text-underline-position: under;
}
.books-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.book {
  width: 30%;
  max-width: 250px;
}

.book-img {
  margin-bottom: 10px;
  position: relative;
  border: 0.4px solid #e3eaf2;
  box-shadow: 0px 2px 6px 1px rgba(0, 0, 0, 0.12);
  border-radius: 5px;
  padding: 30px;
}

.edition {
  position: absolute;
  left: 0;
  top: 20px;
  width: 50%;
}

.book-desc {
  margin-bottom: 10px;
}

.book-desc p {
  font-size: 1.6rem;
  line-height: 19px;
  letter-spacing: 0.3px;
  color: #000000;
}

.writer {
  margin-bottom: 10px;
}
.writer p {
  font-size: 1.8rem;
  line-height: 21px;
  letter-spacing: 0.3px;
  color: #d82813;
}

.rate {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.options {
  display: flex;
  justify-content: space-between;
}

.add-cart {
  font-size: 1.2rem;
  line-height: 14px;
  text-align: center;
  letter-spacing: 0.428571px;
  text-transform: uppercase;
  border: 1px solid #82949d;
  border-radius: 31px;
  color: #82949d;
  outline: none;
  cursor: pointer;
  padding: 0.8em 1em;
}
.add-cart:hover {
  opacity: 0.8;
}

.buy {
  font-size: 1.2rem;
  line-height: 14px;
  text-align: center;
  letter-spacing: 0.257143px;
  text-transform: uppercase;
  color: #ffffff;
  padding: 1em 1.5em;
}
/******************ASIDE***********************/

aside {
  width: 20%;
  background: #eaecf0;
}

.delivery-shipping {
  background: #fff;
  border-radius: 5px;
  padding: 15px 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.delivery {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.delivery-img {
  margin-right: 20px;
  text-align: center;
  min-width: 30px;
}

.delivery-txt h3 {
  font-size: 2rem;
  line-height: 24px;
  letter-spacing: 0.555556px;
  color: #000000;
  font-weight: 500;
}

.delivery-txt p {
  font-size: 1.5rem;
  line-height: 20px;
  letter-spacing: 0.416667px;
  color: #4b4b4b;
}

.offers {
  padding: 25px 20px;
}

.offers h3 {
  font-size: 2rem;
  line-height: 30px;
  letter-spacing: 0.3px;
  font-weight: 500;
  color: #000000;
  margin-bottom: 25px;
}

.offers-card {
  background: #fff;
  border: 1px solid #e3eaf2;
  box-shadow: 0px 2px 6px 1px rgba(0, 0, 0, 0.12);
  border-radius: 5px;
  margin-bottom: 25px;
}

.offers-img img {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.offers-txt {
  padding: 10px 15px;
}

.offers-txt h3 {
  font-size: 3rem;
  line-height: 36px;
  letter-spacing: 0.25px;
  margin-bottom: 10px;
}

.offers-txt p,
.offers-txt a {
  display: inline-block;
  margin-bottom: 10px;
}

/***********Footer************/
footer {
  background: #f2f2f2;
  padding: 85px 0;
}

footer .container {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.contact p {
  margin-top: 20px;
}

.get-app {
  margin-top: 25px;
}

.get-app a {
  margin-right: 15px;
}

.social {
  margin-top: 25px;
}

.social a {
  margin-right: 15px;
}

.list-top {
  margin-bottom: 20px;
}

.list-heading {
  color: #4b4b4b;
  font-weight: 900;
  margin-bottom: 5px;
}

@media screen and (max-width: 1250px) {
  .options {
    display: block;
    text-align: center;
  }
  .add-cart {
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 1050px) {
  .rate {
    display: block;
    text-align: center;
  }

  .add-cart {
    padding: 0.8em 1.8em;
  }

  .banner {
    width: 80%;
  }

  .banner-img {
    display: none;
  }

  .banner-text {
    width: 100%;
  }
}

@media screen and (min-width: 1700px) {
  html {
    --header1: 3rem;
    --header2: 5rem;
    --header3: 4rem;
    --header4: 3rem;
    --text: 3rem;
    --big: 8rem;
    --foot: 1.3rem;
  }
}
